:root {
  --btn-border-color: rgb(204, 204, 204);
  --text-color: rgb(116, 116, 116);

  --btn-primary-color: rgb(84, 197, 84);
  --btn-hover-color: rgb(75, 163, 75);

  --delete-btn-color: #b51313;
  --delete-hover-color: #ca0909;
  --edit-btn-color: rgb(84, 197, 84);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.invoice-container {
  margin-top: 2rem;
  padding: 2rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  width: 800px;
}

.back-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.back-btn {
  font-size: 28px;
  color: black;
  cursor: pointer;
}

.btns {
  display: flex;
  margin-top: 1rem;
}

.review-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  background-color: var(--btn-primary-color);
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.review-btn:hover {
  background-color: var(--btn-hover-color);
}

.reset-btn {
  padding: 0.4rem;
  background-color: var(--delete-btn-color);
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 0.5rem;
  font-weight: bold;
  font-size: 16px;
}

.reset-btn:hover {
  background-color: var(--delete-hover-color);
}

.short-icons {
  font-size: 20px;
  margin-top: 1px;
}

@media (max-width: 560px) {
  .invoice-container {
    padding: 0;
  }
  * {
    font-size: 14px;
  }
  .review-btn {
    margin-left: 1rem;
  }
  .review-btn.b1 {
    display: none;
  }
}
